@using SV20T1080072.Web;
@model SV20T1080072.Web.Models.PaginationSearchCustomer
@{
	Layout = null;
}

@* <div class="col-md-6">
	<label>Khách hàng:</label>
	<div class="form-group">
		@Html.DropDownListFor(m => m., SelectListHelper.Suppliers(), new { @class="form-control", @name = "suppliers"})
	</div>
</div> *@