@model HomeIndexModel
@{
	ViewData["Title"] = "Home Page";

	///ViewData
	// String titleMessage = Convert.ToString(ViewData["TitleMessage"].ToString());
	// List<Person> listOfPersons = ViewData["ListOfPerson"] as List<Person>;
}

<h1>@Model.TitleMessage</h1>

<table class="table table-bordered">
	<thead>
		<tr class="bg-primary">
			<th>Person Id</th>
			<th>Name</th>
			<th>Address</th>
			<th>Email</th>
		</tr>

	</thead>
	<tbody>
		@foreach (var item in Model.ListOfPersons)
		{
			<tr>
				<td>@item?.PersonId</td>
				<td>@item?.Name</td>
				<td>@item?.Address</td>
				<td>@item?.Email</td>
			</tr>
		}
	</tbody>
</table>
